@model IEnumerable<Item>
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row mt-3">      
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="d-flex align-items-center">
                    <h5>Available Items</h5>
                    <div class="ms-3 d-flex">
                        <form asp-action="List" asp-controller="UIItem" method="get">
                            <select name="CategoryId" class="form-select" onchange="this.form.submit()">
                                <option value="">Select Category</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.CategoryId" selected="@(ViewBag.SelectedCategoryId == category.CategoryId ? "selected" : null)">
                                        @category.CatName
                                    </option>
                                }
                            </select>
                        </form>
                    </div>
                </div>                            
               <div>
                    <hr class="mb-3" />
               </div>
            </div>           
        </div>
        <div class="col-md-12">
            <div class="row">
                @foreach (var groupItems in ViewBag.GroupItems)
                {
                    if (groupItems.Items.Count > 0)
                    {
                        <h5>@groupItems.Category.CatName</h5>
                        <div>
                            <hr class="mb-3" />
                        </div>
                        foreach (var item in groupItems.Items)
                        {
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                <div class="card shadow-sm rounded">
                                    <img src="@Url.Content("~/Images/"+item.ImageUrl)" class="card-img-top" style="height:150px;" />
                                    <div class="card-body">
                                        <h6 class="card-title">@item.ItemName</h6>
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <p class="card-text fw-bold text-black-50 mb-0">Ks @item.Price</p>
                                            <a asp-controller="UIItemOrder" asp-action="Order" class="d-inline-block card-text btn btn-sm btn-secondary">Order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>       

    </div>
</div>

