@model Order
@{
    ViewBag.Title = "Make Payment";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="container-fludi">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <h5 class="mb-3 fw-bold text-decoration-underline">Make Payment for Order</h5>
                <form asp-action="MakePayment" method="post">
                    <input type="hidden" asp-for="@Model.OrderId" />
                    <table class="table table-responsive">
                        <thead>
                            <tr>                                
                                <th>Item Name</th>
                                <th>Item Price</th>
                                <th>Item Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>                                    
                                    <td>@item.Item.ItemName</td>
                                    <td>@item.UnitPrice</td>
                                    <td>@item.Quantity</td>
                                    <td></td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>                                
                                <td class="bg-primary text-white fw-bold">@Model.TotalAmount - MMK</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-5 mb-3">
                        <h6>To make payment for Order, Please Refill the followings : </h6>
                    </div>
                    <div class="border p-3">
                        <div class="mb-3">
                            <label>Order Type : </label>
                            <select asp-for="OrderType" class="form-select" id="orderType" name="orderType">
                                <option value="DineIn">DineIn</option>
                                <option value="TakeAway">TakeAway</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Order Status : </label>
                            <select class="form-select" id="orderStatus" name="orderStatus">
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Table Number : </label>
                            @foreach (var cafeTable in ViewBag.CafeTables)
                            {
                                if (@cafeTable.CafeTableId == @Model.CafeTableId)
                                {
                                    <input type="text" value="@cafeTable.TableNumber" name="cafeTableId" id="cafeTableId" class="form-control" readonly />
                                }                               
                            }
                                                   
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Payment Status</label>
                            <select class="form-select" id="paymentStatus" name="paymentStatus">
                                <option value="Waiting">Waiting</option>
                                <option value="Done">Done</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Notes</label>
                            <input type="text" name="notes" class="form-control" placeholder="eg..kbz pay" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Update Order</button>
                    <a asp-controller="Order" asp-action="View" class="btn btn-secondary mt-3 ms-3">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

