@model IEnumerable<CafePOS.Models.Order>
@{
    ViewBag.Title = "Order View";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h5 class="fw-bold text-decoration-underline">Order List</h5>
            <hr class="mb-3" />
            <div>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Order Date</th>
                            <th>Table Number</th>
                            <th>Total Price</th>
                            <th>Order Items</th>     
                            <th>Payment Status</th>
                            <th>Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var order in Model)
                        {
                            <tr>
                                <td>@order.OrderId</td>
                                <td>@order.CreatedAt</td>                                
                                <td class="text-center">
                                    @foreach(var cafeTable in ViewBag.CafeTables)
                                    {
                                        if (@cafeTable.CafeTableId == @order.CafeTableId)
                                        {
                                            <span>@cafeTable.TableNumber</span>
                                        }
                                    }
                                </td>
                                <td>@order.TotalAmount</td>
                                <td>
                                    @foreach(var item in order.OrderItems)
                                    {
                                        <p>@item.Item.ItemName - @item.Quantity * @item.UnitPrice MMK</p>
                                    }
                                </td>
                                <td>@order.PaymentStatus</td>
                                <td>@order.Notes</td>
                                @if(@order.PaymentStatus == "Done")
                                {
                                    <td>
                                        <a asp-action="EditOrder" asp-route-id="@order.OrderId" class="btn btn-sm btn-info text-white d-none">Edit</a>
                                        <a asp-action="MakePayment" asp-route-id="@order.OrderId" class="btn btn-sm btn-secondary text-white mt-2 d-none">Payment</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a asp-action="EditOrder" asp-route-id="@order.OrderId" class="btn btn-sm btn-info text-white">Edit</a>
                                        <a asp-action="MakePayment" asp-route-id="@order.OrderId" class="btn btn-sm btn-secondary text-white mt-2">Payment</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
